In [32]:
# John Hopkins 5/24/2021
# *************************************
# *************************************

In [33]:
# Dependencies
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
import os
import pandas as pd
import time
# from urllib.request import urlopen

In [34]:
# ChromeDriver Needed to Open Browser
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [35]:
# *************************************
# *************************************

In [36]:
## Begin Scraping 

# NASA News Title
news_url = 'https://mars.nasa.gov/news/'
browser.visit(news_url)

time.sleep(3)

# Create a Beautiful Soup object
news_html = browser.html
news_soup = bs(news_html,'html.parser')
# news_soup.prettify()

In [39]:
# NASA Mars News Extracted Title and Paragraph Text
news_title = news_soup.find("div",class_="content_title").text
news_p = news_soup.find("div", class_="rollover_description_inner").text

# Print Title and Paragraph Text 
print(f"Title: {news_title}")
print(f"Paragraph: {news_p}")

Title: Mars Now
Paragraph: A mission to investigate key questions about potential life on Mars.

In [40]:
# *************************************
# *************************************

In [41]:
## Begin Scraping

# JPL Mars Space Images - Featured Image
jpl_url = "https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html"
browser.visit(jpl_url)

time.sleep(3)

# Create a Beautiful Soup HTML Object
html_image = browser.html
soup = bs(html_image, "html.parser")

# print(soup.prettify())
# print(soup)
# image_soup

In [42]:
# Scrap Title of Featured Image
featured_img_title = soup.find(class_="media_feature_title")
featured_img_title

In [43]:
imgs = soup.find("a", "fancybox-thumbs")
imgs

In [44]:
feat_img = []
for img in imgs:
    pic = imgs['href']
    feat_img.append(pic)
    featured_image_url = 'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html/' + pic
    
featured_image_url

'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html/image/featured/mars2.jpg'

In [45]:
# *************************************
# *************************************

In [46]:
### Mars Facts
# Visit the Mars Facts webpage [here](https://space-facts.com/mars/) and use Pandas to scrape the table containing 
# facts about the planet including Diameter, Mass, etc.

#Use Pandas to convert the data to a HTML table string.

In [47]:
url = 'https://space-facts.com/mars/'
response = requests.get(url)
soup = bs(response.text, 'html.parser')

# print(soup.prettify())

In [48]:
tables = pd.read_html(url)
tables[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [49]:
marsdf = tables[0]
marsdf

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [50]:
marsdf.columns = ['Stat', 'Measurement']
marsdf.head()

                   Stat                    Measurement
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [51]:
s = pd.Series(marsdf['Stat'])
marsdf['Stat'] = s.str.strip(':')
marsdf

                  Stat                    Measurement
0  Equatorial Diameter                       6,792 km
1       Polar Diameter                       6,752 km
2                 Mass  6.39 × 10^23 kg (0.11 Earths)
3                Moons            2 (Phobos & Deimos)
4       Orbit Distance       227,943,824 km (1.38 AU)
5         Orbit Period           687 days (1.9 years)
6  Surface Temperature                   -87 to -5 °C
7         First Record              2nd millennium BC
8          Recorded By           Egyptian astronomers

In [52]:
marsdf = marsdf.set_index('Stat')
marsdf

                                       Measurement
Stat
Equatorial Diameter                       6,792 km
Polar Diameter                            6,752 km
Mass                 6.39 × 10^23 kg (0.11 Earths)
Moons                          2 (Phobos & Deimos)
Orbit Distance            227,943,824 km (1.38 AU)
Orbit Period                  687 days (1.9 years)
Surface Temperature                   -87 to -5 °C
First Record                     2nd millennium BC
Recorded By                   Egyptian astronomers

In [53]:
#Use to_html method to generate HTML tables from df
html_table = marsdf.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Measurement</th>\n    </tr>\n    <tr>\n      <th>Stat</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [54]:
#Save as html file
marsdf.to_html('mars_table.html')

marsdf.to_html

<bound method DataFrame.to_html of                                        Measurement
Stat
Equatorial Diameter                       6,792 km
Polar Diameter                            6,752 km
Mass                 6.39 × 10^23 kg (0.11 Earths)
Moons                          2 (Phobos & Deimos)
Orbit Distance            227,943,824 km (1.38 AU)
Orbit Period                  687 days (1.9 years)
Surface Temperature                   -87 to -5 °C
First Record                     2nd millennium BC
Recorded By                   Egyptian astronomers>

In [55]:
# *************************************
# *************************************

In [56]:
### Mars Hemispheres
# Visit the USGS Astrogeology site [here]
# (https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars) to obtain high resolution 
# images for each of Mar's hemispheres.

In [57]:
# ChromeDriver Needed to Open Browser
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [58]:
# Setting url for alternate browser
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

In [60]:
nextpage_urls = []
imgtitles = []
base_url = 'https://astrogeology.usgs.gov'

# HTML object
html = browser.html
# Parse HTML with Beautiful Soup
soup = bs(html, 'html.parser')
# Retrieve all elements that contain hemisphere photo info
divs = soup.find_all('div', class_='description')
divs

[<div class="description"><a class="itemLink product-item" href="/search/map/Mars/Viking/cerberus_enhanced"><h3>Cerberus Hemisphere Enhanced</h3></a><span class="subtitle" style="float:left">image/tiff 21 MB</span><span class="pubDate" style="float:right"></span><br/><p>Mosaic of the Cerberus hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of 104 Viking Orbiter images acquired…</p></div>,
 <div class="description"><a class="itemLink product-item" href="/search/map/Mars/Viking/schiaparelli_enhanced"><h3>Schiaparelli Hemisphere Enhanced</h3></a><span class="subtitle" style="float:left">image/tiff 35 MB</span><span class="pubDate" style="float:right"></span><br/><p>Mosaic of the Schiaparelli hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. The images were acquired in 1980 during early northern…</p></div>,
 <div class="description"><a class="itemLink product-item" href="/search/map/Mars/Viking/syrtis_major_enhanced"><h3>Syrtis Major Hemisphere Enhanced</h3></a><span class="subtitle" style="float:left">image/tiff 25 MB</span><span class="pubDate" style="float:right"></span><br/><p>Mosaic of the Syrtis Major hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of about 100 red and violet…</p></div>,
 <div class="description"><a class="itemLink product-item" href="/search/map/Mars/Viking/valles_marineris_enhanced"><h3>Valles Marineris Hemisphere Enhanced</h3></a><span class="subtitle" style="float:left">image/tiff 27 MB</span><span class="pubDate" style="float:right"></span><br/><p>Mosaic of the Valles Marineris hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. The distance is 2500 kilometers from the surface of…</p></div>]

In [61]:
# Iterate through each div to pull titles and make list of hrefs to iterate through
counter = 0
for div in divs:
        # Use Beautiful Soup's find() method to navigate and retrieve attributes
    link = div.find('a')
    href=link['href']
    img_title = div.a.find('h3')
    img_title = img_title.text
    imgtitles.append(img_title)
    next_page = base_url + href
    nextpage_urls.append(next_page)
    counter = counter+1
    if (counter == 4):
        break
nextpage_urls

['https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced',
 'https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced',
 'https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced',
 'https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced']

In [65]:
imgtitles

['Cerberus Hemisphere Enhanced',
 'Schiaparelli Hemisphere Enhanced',
 'Syrtis Major Hemisphere Enhanced',
 'Valles Marineris Hemisphere Enhanced']

In [64]:
my_images=[]
for nextpage_url in nextpage_urls:
    url = nextpage_url
    browser.visit(url)
    html = browser.html
    soup = bs(html, 'html.parser')
    link2 = soup.find('img', class_="wide-image")
    forfinal = link2['src']
    full_img = base_url + forfinal
    my_images.append(full_img)
    nextpage_urls = []
my_images

['https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg',
 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg',
 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg',
 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg']

In [66]:
# Creating final list of dictionaries imgtitles and my_images
# ckeys - img_url and title
hemisphere_image_urls = []

cerberus = {'title':imgtitles[0], 'img_url': my_images[0]}
schiaparelli = {'title':imgtitles[1], 'img_url': my_images[1]}
syrtis = {'title':imgtitles[2], 'img_url': my_images[2]}
valles = {'title':imgtitles[3], 'img_url': my_images[3]}

hemisphere_image_urls = [cerberus, schiaparelli, syrtis, valles]
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]

In [ ]:
# johnhopkins@Batman-13609:~/Code!/web-scraping-challenge$ ls
# [NbConvertApp] Converting notebook mission_to_mars.ipynb to script
# [NbConvertApp] Writing 5406 bytes to mission_to_mars.py

In [ ]:
# *************************************
# *************************************